{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    Willkommen bei den Bahuma Management Tools
{% endblock %}

{% block main %}
    <p>Wähle im Menü links ein Tool aus.</p>
{% endblock %}
